.HEAD{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: rgb(171, 51, 51);
}
.three{
    display: flex;
    gap: 40px;
    font-family: 'Courier New', Courier, monospace;

}
.hi{
    padding-left: 20%;
    font-family: 'Courier New', Courier, monospace;
}
.Quote{
    text-align: center;
    background-color: rgb(240, 105, 9);
    margin: 0px;
        
}

.container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.intro {
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    width: 35%;
    height: 10%;
    text-align: left;
    align-items: center;
    background-color: rgb(255, 179, 0);
    box-sizing: border-box;

}